[[source]]
url = "https://${CLOUDSMITH_USERNAME}:${CLOUDSMITH_API_KEY}@package-manager.aa.com/basic/prod/python/simple"
verify_ssl = true
name = "package-manager.aa.com"

[packages]
pydantic = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"