[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg = "*"
fastapi-camelcase = "*"
alembic = "*"

[dev-packages]
pytest = "*"
httpx2 = "*"

[requires]
python_version = "3.14"
